.nav_wrapper {
    width: 95%;
    height: 2.5rem;
    // border: 0.1rem solid red;
    display: flex;
    margin: auto;
    align-items: center;
    padding: 0rem 1rem 0rem 1rem;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    a {
        width: 3rem;
        // border: 1px solid green;
    }

    .serchbox {
        width: 15%;
        padding: 0rem 0.5rem 0rem 0.5rem;
        display: flex;
        border-radius: 1rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border: 1px solid green;
        input {
            border: none;
            // width: 5rem;
            height: 0.8rem;
            font-size:0.61rem;
            background-color: transparent;
            text-align: center;
            &:focus{
                outline: none;
            }
        }
        .icon{
            width: 1rem;
            height: 1.1rem;
            // background-color: red;
        }
    }

    .lastdiv {
        width: 30%;
        // border: 1px solid green;
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            width: 2rem;
            border-radius: 50%;

            border: 0.1rem solid red;
        }
    }
}
.icon {
    width: 2rem;
    height: 1.5rem;
    color: black;
    cursor: pointer;
}
