@import "_mixin";
.userinfodiv {
    @include flexrow;
    height: 25vh;
    width: 65%;
    justify-content: space-evenly;
    border: 0.1rem solid red;
    margin: auto;
    .imgdiv {
        width: 25%;
        height: 80%;
        border-radius: 50%;
        // border: 1px solid blue;
        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }
    .infodiv {
        width: 60%;
        .namediv {
            @include flexrow;
            justify-content: space-evenly;
            padding: 0;
            line-height: 0.1rem;

            button {
                width: 4rem;
                font-size: 0.81rem;
                cursor: pointer;
            }
        }
        p {
            font-size: 0.71rem;
            line-height: 0.1rem;
            text-align: center;
        }
    }
    .followers{
        @include flexrow;
        width: 80%;
        margin: auto;
    }
}
.postdiv {
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    .postimgdiv{
        width:100%;
        margin: auto;
            border: 0.1rem solid rgb(131, 255, 8);
        img{
            width: 90%;
        }
        .posticon{
            @include flexrow;
            width: 70%;
            margin: auto;
            border: 1px solid red;
        }
    }
}
